@inject SignInManager<User> SignInManager
@model IEnumerable<Bookshelf_FL.Models.AuthorViewModels.AuthorListViewModel>

@foreach (var author in Model.OrderBy(b => b.FirstName))
{
    <div class="ItemsOfBookList">

        <div class="CoverOfItemsOfBookList">

            @if (!string.IsNullOrEmpty(author.CoverPath))
            {
                <img src="@Url.Content(author.CoverPath)" alt="@author.FirstName @author.LastName" />
            }
            else
            {
                <img src="~/defaultFiles/DefaultAuthor.jpg" alt="@author.FirstName @author.LastName" />
            }

        </div>

        <a href="@Url.Action("GetAuthor", "Author", new { authorId = author.Id })" Class="linkOfOfItemsOfBookList">@author.FirstName @author.LastName</a>

    </div>
}

