@model IEnumerable<Bookshelf_FL.ViewModels.UserViewModels.UserListViewModel>

@foreach (var user in Model.OrderBy(b => b.LastName))
{
    <div class="ItemsOfBookList">

        <div class="CoverOfItemsOfBookList">

            @if (!string.IsNullOrEmpty(user.CoverPath))
            {
                <img src="@Url.Content(user.CoverPath)" alt="@user.FirstName @user.LastName" />
            }
            else
            {
                <img src="~/defaultFiles/DefaultUser.jpg" alt="@user.FirstName @user.LastName" />
            }

        </div>

        <a href="@Url.Action("GetUser", "User", new { userId = user.Id })" Class="linkOfOfItemsOfBookList">@user.FirstName @user.LastName</a>

    </div>
}

